[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apispec = "==4.0.0"
bunch = "==1.0.1"
dicttoxml = "==1.7.4"
elasticsearch-dsl = "==7.1.0"
emoji = "==0.6.0"
falcon = "==2.0.0"
falcon-apispec = "==0.3.0"
falcon-auth = "==1.1.0"
falcon-elastic-apm = "==0.1.1"
falcon-require-https = "==0.1.0"
loguru = "==0.5.3"
marshmallow = "==3.4.0"
msgpack = "==1.0.0"
requests = "==2.24.0"
rich = "==9.2.0"
swagger-ui-py = "==0.2.0"
toolz = "==0.10.0"
waitress = "==1.4.3"
xmltodict = "==0.12.0"
Pint = "==0.11"
PyJWT = {version = "==2.0.1", extras = ["crypto"]}
PyYAML = "==5.4"

[dev-packages]
autopep8 = "*" # https://github.com/hhatto/autopep8
black = "*" # https://github.com/psf/black
flake8 = "*" # https://flake8.pycqa.org
mccabe = "*" # https://github.com/PyCQA/mccabe
pycallgraph = "*" # https://pycallgraph.readthedocs.io/en/master/
pycodestyle = "*" # https://github.com/PyCQA/pycodestyle
pyflakes = "*" # https://github.com/PyCQA/pyflakes
pylint = "*" # https://pylint.org/
setuptools = "==57.5.0" # for pycallgraph
vprof = "*" # https://github.com/nvdv/vprof

[requires]
python_version = "3.10"

[scripts]
# program
start = "bash scripts/start.sh"
requirements = "bash scripts/requirements.sh"
# dev
changelog = "bat CHANGELOG.md"
codestyle = "find src -iname '*.py' -exec pycodestyle --first {} \\;"
complexity = "find src -iname '*.py' -exec python -m mccabe {} \\;"
error-check = "python3 -m pyflakes src"
format-black = "black src/"
format-pep8 = "find src -iname '*.py' -exec autopep8 --in-place --aggressive --aggressive {} \\;"
graph = "pycallgraph src/ --output=dev/graph.svg"
linter = "find src -iname '*.py' -exec pylint {} \\;"
profiler-start = "vprof -c cmh src/deployment.py --output-file dev/profiler.json"
profiler-view = "vprof --input-file dev/profiler.json"
requirements-dev = "bash scripts/requirements-dev.sh"
security-scan = "docker scan cnit_ml"
style-guide = "flake8 src/"
