[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apispec = "==4.0.0"
bunch = "==1.0.1"
dicttoxml = "==1.7.4"
elasticsearch-dsl = "==7.1.0"
emoji = "==0.6.0"
falcon = "==2.0.0"
falcon-apispec = "==0.3.0"
falcon-auth = "==1.1.0"
falcon-elastic-apm = "==0.1.1"
falcon-require-https = "==0.1.0"
loguru = "==0.5.3"
marshmallow = "==3.4.0"
msgpack = "==1.0.0"
requests = "==2.24.0"
rich = "==9.2.0"
swagger-ui-py = "==0.2.0"
toolz = "==0.10.0"
waitress = "==1.4.3"
xmltodict = "==0.12.0"
Pint = "==0.11"
PyJWT = {version = "==2.0.1", extras = ["crypto"]}
PyYAML = "==5.4"

[dev-packages]
autopep8 = "==1.5.7"
flake8 = "==3.9.2"
mccabe = "==0.6.1"
pycodestyle = "==2.7.0"
pyflakes = "==2.3.1"
toml = "==0.10.2"
vprof = "==0.38"

[requires]
python_version = "3.10"
